@charset "utf-8";

@import url(http://fonts.googleapis.com/css?family=Raleway:200);
@import 'compass';

$text-gray: #C6C6C1;
$darker-gray: #2C2C2C;
$dark-gray: #2F2F2F;
$grayer: #404040;
$gray: #434343;
$light-gray: #4A4A4A;
$text-border: #121212;
$border-color: #555555;

$Neon-Green: #6FFF00;
$Neon-Pink: #FF00FF;
$Neon-Yellow: #FFFF00;
$Neon-Blue: #4D4DFF;
$Neon-Red: #FE0001;
$Neon-Orange: #FFA700;
$Neon-Purple: #993CF3;

$Orange: #BF7D00;

$Raleway:'Raleway', Helvetica, Arial, sans-serif;


body {
  text-align: center;
  color: $Neon-Orange;
  background: $Orange;
  font-family: $Raleway;
  padding: 0 20px;
}

h1 {
  font-size: 32px;
  letter-spacing: -1px;
  padding: 20px 0;
  margin: 0;
  background: $dark-gray;
  border-bottom: 1px solid $gray;
}

.movie-profile {
  max-width: 600px;
  min-width: 280px;
  margin: auto;
  border-radius: 5px;
  overflow: hidden;
  background: $gray;
}

.movie-listings {
  max-width: 600px;
  min-width: 280px;
  margin: auto;
  margin-bottom: 2px;
  overflow: hidden;
  border-radius: 5px;
  @include box-shadow(0 0 40px $Neon-Orange);
  background: $dark-gray;
  border: 1px solid $gray;
  border-bottom-width: 0;
  @include box-sizing(border-box);
}

.movie-listing {
  overflow: hidden;
  background: $gray;
  @include transition(background .2s ease, color .2s ease);
  border-bottom: 1px solid $dark-gray;
  cursor: pointer;
  position: relative;

  img {
    float: left;
    width: 80px;
  }
  &:hover {
    background: $Neon-Orange;
    color: $dark-gray;
  }
}

#main-poster {
  width: 214px;
  height: 317px;
  margin-top: 30px;
  border: 10px solid $Neon-Orange;
  border-radius: 5px;
}

h2.no-results {
  padding-top: 130px;
}
h3.no-results {
  padding-bottom: 130px;
}

#search-view {
  max-width: 600px;
  min-width: 280px;
  margin: 30px auto;
  overflow: hidden;
  position: relative;
  border-radius: 5px;
  border: 1px solid $dark-gray;
  background: $dark-gray;
  font-size: 20px;
  @include box-shadow(0 0 40px $Neon-Orange);

  input, button {
    line-height: 45px;
    padding: 0 10px;
    border: none;
    float: left;
    @include appearance(none);
    @include box-sizing(border-box);
    border-radius: 0;
    outline: none;
  }
  input {
    width: 66.66%;
  }
  button {
    width: 33.34%;
    background: $dark-gray;
    color: $Neon-Orange;
    @include transition(background .2s ease, color .2s ease);
    border-left: 1px solid $dark-gray;

    &:hover {
      background: $Neon-Orange;
      color: $dark-gray;
    }
  }
}

ul {
  list-style: none;
  margin-left: 80px;
  padding: 0;

  li {
    padding: 5px 20px;

    &.movie-title {
      font-size: 20px;
    }
  }
}

table {
  width: 100%;

  tr {
    th, td {
      padding: 10px 0;
      text-align: center;
      border-width: 1px;
      border-style: solid;
      border-color: $dark-gray;
      width: 25%;
    }
    th {
      background: $grayer;
    }
    td {
      background: $dark-gray;
    }
  }
}

.rating {
  position: absolute;
  left: 100px;
  bottom: 20px;
  border-radius: 3px;
  background-color: $dark-gray;

  &.G {
    background-image: url('/images/rated_g.png');
    height: 17px;
    width: 19px;
  }
  &.PG {
    background-image: url('/images/rated_pg.png');
    height: 17px;
    width: 29px;
  }
  &.PG-13 {
    background-image: url('/images/rated_pg_13.png');
    height: 17px;
    width: 46px;
  }
  &.R {
    background-image: url('/images/rated_r.png');
    height: 17px;
    width: 20px;
  }
  &.NC-17 {
    background-image: url('/images/rated_nc_17.png');
    height: 17px;
    width: 46px;
  }
  &.Unrated {
    background-image: url('/images/rated_nr.png');
    height: 17px;
    width: 31px;
  }
  // &.Unrated {
  //   background-image: url('/images/rated_ur.png');
  //   height: 17px;
  //   width: 31px;
  // }
}

#bar-graph {
  .left-side {
    width: 180px;
    float: left;
  }
  .values {
    width: 40px;
    float: left;
  }
  .graph {
    width: 100%;
    padding-left: 220px;
    position: relative;
    top: 5px;
    @include box-sizing(border-box);
  }
  ul {
    margin: 0;
    padding: 0;
  }
  li {
    padding: 5px 0;
    line-height: 20px;
    height: 20px;
    margin: 5px 0;

    &.header {
      font-size: 20px;
      background-color: $light-gray;
      line-height: 24px;
      height: 24px;
    }
  }
  .bar {
    width: 0%;
    background-color: #7F0000;
    @include transition(background-color 1.5s ease, width 1.5s ease);
  }
}

footer {
  line-height: 40px;
  max-width: 600px;
  min-width: 280px;
  margin: auto;
  color: $darker-gray;
}